.topbar-default {
	
	background-color: $color-default-darker;
	@include clearfix();

	.site-branding {
		float: left;
	}

	.site-logo {

	}

	.main-navigation {
		float: right;
	}

	.main-menu {

	}

	.main-menu li {
		display: inline;
		padding-left: $spacing-small; 
	}
}