// Wrap the whole page and center it
.site-wrapper {
	@include outer-container();

}

// Used to center section of content
.container {
	@include outer-container();
	padding: $spacing-medium;
} 



// 6.0 Accessibility
// ------------------------------------
// Text meant only for screen readers. 

.skip-links,{
  position: absolute;
}
a.skip-links {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0.5em;
  background: black;
  color: white;
  text-decoration: none;
}
a:focus.skip-links {
  position: static;
  overflow: visible;
  clip: auto;
}

// Visibility
// ------------------------------------
// @todo create a mixin for hide/show
.visually-hidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

// Wordpress small fixes
// ------------------------------------
// Fix admin bar positioning if .topbar is fixed
body.admin-bar {
    .topbar-fixed {
        // reserve space for the admin bar
        top: 32px !important;
    }
}